body {
  padding: 0;
  background: #CA0408;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: #222;
}

#page {
}

h2,
h3,
h4,
footer p {
  text-align: center;
}

h2 {
  color: #FFDC63;
  text-shadow: 2px 2px 0 #E2B260;
  letter-spacing: 2px;
  font-variant: small-caps;
  margin: 10px 0;
  font-size: 2.5em;
}

a {
  color: #FFDC63;
  text-decoration: none;
}

a:hover {
  color: #FFFAE2;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* ========================= Etch-A-Sketch ================================= */
#canvas-container {
  height: 300px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  border: none;
  position: relative;
  border-radius: 4px;
  border-bottom: 8px solid #844442;
  border-right: 8px solid rgba(98, 0, 1, 0.4);
  border-top: 5px solid #790202;
  border-left: 8px solid rgba(36, 0, 1, 0.4);
}

#bezel {
  padding: 10px 0 0 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

/* ========================= Controls ================================= */
.controls-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8% 0;
}

#left-dial,
#right-dial {
  box-sizing: border-box;
  display: inline-block;
  /* 3d effect */
  background-color: #E6E2A1 ;
  border-top: 1px solid #E8F2F2 ;
  border-right: 5px solid #222 ;
  border-bottom: 5px solid #222 ;
  border-left: 1px solid #E8F2F2 ;
  width: 75px;
  height: 75px;
  border-radius: 75px;

}

#clear-canvas {
  font-size: 0.7em;
  width: 35%;
  height: 6%;
  padding-bottom: 10px;
  background: #FFD759;
  /* 3d effect */
  border-top: 5px solid #FEF49C;
  border-left: 3px solid #D8BF4E;
  border-bottom: 5px solid #AE9538;
  border-right: 3px solid #D8BF4E;
  border-radius: 15px;
  bottom: 7%;
  left: 25%;
  align-self: center;
}

#clear-canvas:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px #222;
}

#clear-canvas p {
  margin: 0;
  color: #EB593E;
  padding-top: 4px;
  font-size: 2.4em;
  text-align: center;
  letter-spacing: 2px;
}

#clear-canvas:hover {
  cursor: pointer;
}

/* ========================== Instructions ================================= */
#instructions {
  display: none;
}

@media screen and (min-width: 480px) {
  #left-dial,
  #right-dial {
    width: 125px;
    height: 125px;
    border-radius: 125px;
  }

  #clear-canvas {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 720px) {
  body {
    background: #6CAE75;
    padding: 75px;
  }

  #bezel {
    position: relative;
    background: #CA0408;
    margin: 0 auto;
    padding: 75px 75px 225px;
    position: relative;
    box-sizing: border-box;
    max-width: 600px;
    height: auto;
    /* 3d effect */
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;

    border-top: 15px solid #844442;
    border-right: 20px solid #620001;
    border-bottom: 15px solid #790202;
    border-left: 20px solid #620001;

    box-shadow: 5px 5px 15px #360101;
  }

  #clear-canvas {
    width: 40%;
    height: 8%;
  }

  #instructions {
    display: block;
    background: #FFFAE2;
    padding: 30px;
    margin: 40px 0;
    border-radius: 10px;
  }

  #instructions ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 75px;
  }

  #instructions li {
    list-style-type: none;
    align-self: center;
    justify-content: space-around;
    font-weight: bold;
  }

  .arrows {
    color: #E94F37;
  }

  span {
    color: #56445D;
    font-variant: small-caps;
    font-weight: bold;
  }
}
